/* 新しい背景色とボタンのスタイルを設定 */

body {
    background-color: #000000; /* 背景を黒色に設定 */
    color: #f5f5f5; /* 文字色を白に設定 */
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: #4CAF50; /* メインボタンの色を緑色に設定 */
    border-color: #4CAF50;
}

.btn-primary:hover {
    background-color: #45a049; /* ホバー時のメインボタンの色 */
    border-color: #45a049;
}

.format-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.format-button {
    padding: 10px;
    background-color: #4CAF50; /* ボタンの色を緑色に設定 */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s; /* ボタンの視覚的フィードバック */
}

.format-button.selected,
.format-button:hover {
    background-color: #45a049; /* 選択時およびホバー時のボタンの色 */
    transform: scale(1.05); /* 押した際の視覚的な効果 */
}
